.scroll-navbar {
    transition: all 10s ease-in-out;
}

.scrolled {
    height: 60px; /* Adjust this value as needed */
    background-color: #fff; /* Change to your desired background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

.scrolled .navbar-brand {
    font-size: 24px; /* Adjust as needed */
    padding: 15px 0;
}

#navbar-Container {
    width:100%;
}

/* div for landing page */
#navBarFull{
    height: 800px;
}

#shortDesc{
    height: 400px;
    background-color: #e8dad7bc;
}

#topNav {
    background-image: url("/images/navbackground.jpg");
}

.collapse.show {
    visibility: visible;
    height: 600px;
    transition: height 0.5s ease-in;
    overflow: hidden;
}

.collapse {
    visibility: hidden;
    height: 0;
    transition: height 0.5s ease-in;
}

/* Div for navbar */
.row-sm-12 {
    height: 25%;
    background-color: rgb(192, 227, 241);
    overflow: hidden;
}
  /* Additional styles for navigation links, etc. */
  